<div class="container">
  <h1 class="text-center">Todo app!</h1>
  <hr />
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4">
        <app-todo-add></app-todo-add>
      </div>
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-4">
            <app-todo-info></app-todo-info>
          </div>
          <div class="col-8">
            <app-todo-filter></app-todo-filter>
          </div>
        </div>
        <hr />
        <app-todo-list></app-todo-list>
      </div>
    </div>
  </div>
</div>